[package]
name = "clac"
version = "0.1.0"
edition = "2024"
description = "Command line calculator"
repository = "https://github.com/krobbi/clac"
license = "MIT"
keywords = ["calculator"]
categories = ["command-line-utilities", "mathematics"]
publish = false

[dependencies]

[lints.rust]
unknown_lints = "forbid"
unsafe_code = "forbid"

[lints.clippy]
pedantic = { level = "warn", priority = -1 }
allow_attributes = "forbid"
allow_attributes_without_reason = "warn"
missing_assert_message = "warn"
unwrap_used = "warn"

[profile.release]
strip = true
lto = true
panic = "abort"
codegen-units = 1
